---
---


[data-bs-theme="dark"] {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-pink-rgb: 214,51,132;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
  }
  html, body {
    font-family: 'Lato', sans-serif;
  }

  pre {
    font-family: 'Roboto Mono', sans-serif;
    line-height: 1.8; 
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }
  
  #content {
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
  }

.navbar {
    background-image: linear-gradient(rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
}

.lyrics {
    background-color: rgba(#000, 0.3) !important;
}

.list-group-item {
    background-color: rgba(#000, 0.4);
}